:root {
    color-scheme: light dark;
    interpolate-size: allow-keywords;
    font-family: "DM Sans", "AlumniSans" , sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2,
h3, h4,
h5, h6{
    font-family: "AlumniSans" , sans-serif;
}
p,li,a {
    font-family: "DM Sans", sans-serif;
}

body{
    width: 100dvw;
    min-height: 100dvh;
    overflow: hidden;
}

.dash_wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100dvh;
    width: 100%;
    background: red;
}
