:root {
    --padding-primary: min(2em, 80%);
    --header-text: clamp(1.5rem, 3vw, 3rem);
    --subheader-text: clamp(.9rem, 2vw, 1.1rem);
    /* for color combination */
    --color-colorOne: #121358;
    --color-colorTwo: #232f72;
    --color-colorThree: #abdaf7;
    --color-colorFour: #0c2725;
    /* color-scheme: light dark; */
    interpolate-size: allow-keywords;
    font-family: "DM Sans", "AlumniSans" , sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2,
h3, h4,
h5, h6{
    font-family: "AlumniSans" , sans-serif;
}
p,li,a,i,button {
    font-family: "DM Sans", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    width: 100dvw;
    min-height: 100dvh;
    overflow: hidden;
}

.dash_wrapper {
    display: grid;
    grid-template-columns: 380px 1fr 400px;
    height: 100dvh;
    width: 100%;
    position: relative;
}

.dashboard_menu {
    background: rgba(250,250,250, .5);
    backdrop-filter: blur(10px);
    padding: var(--padding-primary);
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid #ccc;
    position: relative;
}

.dashboard_menu.open {
    left: 0;
}

.menu_close,
.menu {
    display: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: none;
    background: none;   
    align-self: end;
}

.menu_close i,
.menu i {
    font-size: 1.3rem;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5s, transform .5s;

    
}
.menu.closeTab {
    display: none;
}

.menu i.close {
    transform: rotate(90deg);
    opacity: 0;
}

.menu_close.close {
    animation: spingear 1s linear infinite;
}

@keyframes spingear {
    to {
        transform: rotate(360deg);
    }
}

.header_item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-bottom: .8rem;
}
.header_item .header_logo {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;

    span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.3rem;
        color: #fff;
        background: red;
        text-transform: uppercase;
    }
}

.header_item .header_info {
    margin-top: .4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: .1rem;

    h3 {
        font-size: 15px;
    }
    h4 {
        font-size: 15px;
    }
    h5 {
        font-size: 15px;
        font-weight: normal;
    }
}

.list_nav {
    margin-top: 1rem;
    width: 100%;
}

.list_nav ul {
    display: flex;
    flex-flow: column nowrap;
    gap: .8rem;

    li {
        padding: 1rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 1rem;
        transition: all .4s ease;
        cursor: pointer;
        

        a {
            flex: 1;
            font-weight: 700;
        }


        &.active {
            background: var(--color-colorFour);
            color: var(--color-colorThree);
            border: none;
        }

        &:hover {
            background: var(--color-colorFour);
            color: var(--color-colorThree);
        }
    }
    .only_admin {
        display: none;

        &.admin{
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: 1rem;
            transition: all .4s ease;
            cursor: pointer;
        }
    }
}



.sign_out {
    margin-top: auto;
    margin-bottom: 5px;
}
.sign_out button {
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    padding: .8rem 2rem;
    gap: .3rem;
    cursor: pointer;
    border-radius: 10px;
    background: var(--color-colorFour);
    color: var(--color-colorThree);
    outline: none;
}


/* dashboarrd main */

.display_main {
    padding: var(--padding-primary);
}

.display_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.news-article {
    padding: var(--padding-primary);
    border-left: 1px solid #ccc;
}


@media (max-width: 1219px) {
    .dash_wrapper {
        grid-template-columns: 400px 1fr;
    }
    .news-article {
        display: none;
    }
}


@media (max-width: 720px) {
    .dash_wrapper {
        grid-template-columns: 1fr;
    }
    .dashboard_menu {
        position: absolute;
        width: calc(100% - 40dvw);
        height: 100dvh;
        transition: left .5s ease;
        z-index: 9999;
        left: -900px;
    }
    .header_item {
        margin-top: 1rem;
    }
    .header_item .header_info {
        h2 {
            font-size: 1rem;
        }
        h3 {
            font-size: 14px;
        }
        h4 {
            font-size: 13px;
        }
        h5 {
            font-size: 13px;
            font-weight: normal;
        }
    }
    .menu_close,
    .menu {
        display: block;
    }
    .list_nav {
        margin-top: .2rem;
    }
    .list_nav ul {
        gap: .8rem;
    }
    .sign_out button {
        font-size: .9rem;
        padding: .8rem 1.6rem;
    }
    .news-article {
        display: none;
    }
}

